<body>
  <app-carousel></app-carousel>
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="">
          <h1 class="moviehub">
            <span class="movie">Movie</span>
            <span class="hub">Hub</span>
          </h1>
        </a>
        <h2 id="hed2" style="font-family: 'Satisfy', cursive; font-size: 30px;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Non-Stop Entertainments
        </h2>
        
        <!-- Add a div around the paragraph with a class for styling -->
        <div class="text-box">
          <p><b>Welcome to MovieHub - Your ultimate destination for the latest films, timeless classics, and hidden gems. Explore a vast collection of movies across all genres, from heart-pounding action to heartwarming dramas, and everything in between. Stay updated with the newest releases, read reviews, watch trailers, and get personalized recommendations. Whether you're a cinephile or just looking for something to watch tonight, MovieHub brings the world of cinema right to your screen. Join us and dive into the magic of movies!</b></p>
        </div>
      </div>
      <div class="col">
        <img src="hmboy.png" alt="" style="width: 120%; height: auto">
      </div>
    </div>
  </div>
</body>

