<!-- <h1 style="font-family: 'Satisfy', cursive; font-size: 70px; ">homekart</h1> -->
<div class="container">
    <div id="carousel">
        <figure><img src="carousel imgs/img1.jpg" alt="" style="width: 100%; height: 100%;"></figure>
        <figure><img src="carousel imgs/img2.jpg" alt="" style="width: 100%; height: 100%;"></figure>
        <figure><img src="carousel imgs/img3.jpg" alt="" style="width: 100%; height: 100%;"></figure>
        <figure><img src="carousel imgs/img4.jpg" alt="" style="width: 100%; height: 100%;"></figure>
        <figure><img src="carousel imgs/img8.jpg" alt="" style="width: 100%; height: 100%;"></figure>
        <figure><img src="carousel imgs/img6.jpg" alt="" style="width: 100%; height: 100%;"></figure>
        <figure><img src="carousel imgs/img7.jpg" alt="" style="width: 100%; height: 100%;"></figure>
        <figure><img src="carousel imgs/img5.jpg" alt="" style="width: 100%; height: 100%;"></figure>
        <figure><img src="carousel imgs/img9.jpg" alt="" style="width: 100%; height: 100%;"></figure>
    </div>
</div>