<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src={{item.image}} alt="" width="520px" height="720">
            </div>

            <div class="col">
                <div class="text-container">
                    <h1>{{item.movie}}</h1>
                    <p>
                        A <b>movie</b> is a cinematic experience that tells a story through moving images, sound, and special effects. It can transport viewers to different worlds, evoke emotions, and provide entertainment, inspiration, or insight. Whether it's an action-packed adventure, a heartfelt drama, a thrilling mystery, or a laugh-out-loud comedy, movies are a universal medium that brings people together, sparks imagination, and offers an escape from reality.
                    </p>
                    <br>
                    <button class="button">
                        <span><a href="{{item.imdb_url}}">WATCH NOW!</a></span>   
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
